<!-- <div class="grid w-screen h-screen">
    <div
        class="col-12 lg:col-6 flex align-items-center justify-content-center p-4"
    >
        <div class="card mb-0">
            <a
                routerLink=""
                class="flex flex-column justify-content-center mb-3"
            >
                <h1 class="text-center">Separação</h1>
                <span class="text-center"
                    >Separação dos produtos para a expedição</span
                >
            </a>
        </div>
    </div>
    <div
        class="col-12 lg:col-6 flex align-items-center justify-content-center p-4"
    >
        <div class="card mb-0">
            <a
                routerLink=""
                class="flex flex-column justify-content-between mb-3"
            >
                <h1 class="text-center">Conferência</h1>
                <span class="text-center"
                    >Conferência dos produtos antes da liberação</span
                >
            </a>
        </div>
    </div>
</div> -->
<div
    class="flex align-items-center justify-content-center"
    style="height: 100vh"
>
    <div class="grid w-full">
        <div
            class="col-12 lg:col-6 h-screen flex justify-content-center align-items-center p-5"
            style="background-color: #fffef1"
        >
            <div class="card mb-0 testee">
                <a
                    routerLink=""
                    class="flex flex-column justify-content-center mb-3"
                >
                    <h1 class="text-center">Separação</h1>
                    <span class="text-center"
                        >Separação dos produtos para a expedição</span
                    >
                </a>
            </div>
        </div>
        <div
            class="col-12 lg:col-6 h-screen flex justify-content-center align-items-center p-5"
            style="background-color: #112b13"
        >
            <div class="card mb-0 testee abc">
                <a
                    routerLink=""
                    class="flex flex-column justify-content-between mb-3"
                >
                    <h1 class="text-center">Conferência</h1>
                    <span class="text-center"
                        >Conferência dos produtos antes da liberação</span
                    >
                </a>
            </div>
        </div>
    </div>
</div>
