.testee {
    &:hover {
        cursor: pointer;
        background-color: #112b13;
        transition: 0.5s;
        color: white;
    }
}

.abc {
    background-color: #fff;
    color: #112b13;
    &:hover {
        cursor: pointer;
        background-color: #ee8823;
        transition: 0.5s;
        color: #112b13;
    }
}
