<div class="grid">
    <div class="col-12 lg:col-6">
        <div class="card mb-0">
            <a
                routerLink=""
                class="flex flex-column justify-content-center mb-3"
            >
                <h1 class="text-center">Separação</h1>
                <span class="text-center"
                    >Separação dos produtos para a expedição</span
                >
            </a>
        </div>
    </div>
    <div class="col-12 lg:col-6">
        <div class="card mb-0">
            <a
                routerLink=""
                class="flex flex-column justify-content-between mb-3"
            >
                <h1 class="text-center">Conferência</h1>
                <span class="text-center"
                    >Conferência dos produtos antes da liberação</span
                >
            </a>
        </div>
    </div>
</div>
