
<p-dialog
  [header]="header"
  [(visible)]="display"
  [draggable]="false"
  [maximizable]="true"
  *ngIf="display"
  [modal]="true"
  [style]="{ width: '80vw', height: '80vh' }">
  <div style="height: 100%;" class="card col-12">
    <div style="height: 100%;" class="grid">
      <div style="height: 100%;" class="col-12">
          <!-- Funcionou ! -->
        <iframe style="height: 100%;" class="w-full h-full" [title]="header" [src]="safeUrl" frameborder="0"></iframe>

      </div>
    </div>
  </div>
</p-dialog>
