<h1>Separação</h1>
<hr />
<div class="card">
  <div class="grid">
    <div class="col-4">asd</div>
    <div class="col-8">
      <div class="grid">
        <div class="col-6">
          <div class="flex flex-column gap-2">
            <label for="username">Nº do Cliente</label>
            <input pInputText id="username" aria-describedby="username-help" />
          </div>
        </div>
        <div class="col-6">
          <div class="flex flex-column gap-2">
            <label for="username">Nº do Pedido</label>
            <input pInputText id="username" aria-describedby="username-help" />
          </div>
        </div>
        <div class="col-6">
          <div class="flex flex-column gap-2">
            <label for="username">Nº do Pedido - Loja Virtual</label>
            <input pInputText id="username" aria-describedby="username-help" />
          </div>
        </div>
        <div class="col-6">
          <div class="flex flex-column gap-2">
            <label for="username">Nº da Nota Fiscal</label>
            <input pInputText id="username" aria-describedby="username-help" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <p-table [value]="dados" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Data</th>
        <th>Loja</th>
        <th>Cliente</th>
        <th>Situação</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.data | date : "dd/MM/yyyy" }}</td>
        <td>{{ item.loja ? item.loja.id : "" }}</td>
        <td>{{ item.contato.nome }}</td>
        <td>{{ item.situacao.id }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
