<div class="grid alow">
  <div
    [routerLink]="['/separacao']"
    class="xl:col-6 col-12 p-0 cursor-pointer"
    style="
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right;
      background-image: url('https://img.freepik.com/fotos-gratis/jovem-que-trabalha-em-um-armazem-com-caixas_1303-16606.jpg?t=st=1712846340~exp=1712849940~hmac=1587376c1b38d1d349844910b28103d8250140d915c96fb2dcc1cb8c2d87c8d8&w=996');
    "
  >
    <div
      class="flex h-screen spacing align-items-center"
      style="background-color: #00380161"
    >
      <div class="teste">
        <h1 class="title mb-3">Separação</h1>
        <span>Separação dos produtos para a expedição</span>
      </div>
    </div>
  </div>
  <div
    class="xl:col-6 col-12 p-0 cursor-pointer"
    style="
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right;
      background-image: url('https://img.freepik.com/fotos-gratis/trabalhador-afro-americano-escrevendo-lista-de-inventario-enquanto-verifica-o-estoque-na-sala-de-armazenamento_637285-4716.jpg?t=st=1712846659~exp=1712850259~hmac=bd202acc654664b907bdaa730797124367d8c8cfea74267da169081df04d2352&w=996');
    "
  >
    <div
      class="flex flex-column h-screen spacing justify-content-center align-items-end"
      style="background-color: #56565661"
    >
      <h1 class="text-right mb-3 title">Conferência</h1>
      <span>Conferência dos produtos antes da liberação</span>
    </div>
  </div>
</div>
